/* CSS by GRACIE JACKSON */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/*Skip Link Styles */
.skip-content-link{
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-content-link:focus{
  position: static;
  width: auto;
  height: auto;
}

/*Navigation Styles */
header{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  font-family: var(--font-heading);
}
.menu-button:checked{
  background-color: var(--news-flash);
}
header h1{
  font-size: 3em;
  padding: 40px;
  padding-bottom: 15px;
  font-weight: 400;
}
.mobile-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px 0;
  max-width: 100%;
}
.mobile-nav .menu{
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
}
#menu-toggle:checked ~ .menu{
  display: block;
}
.menu li a{
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  text-align: center;
  font-weight: 600;
  transition: var(--transition);
  text-transform: uppercase;
  font-family: var(--font-body);
  border: 1px solid var(--news-flash);
}
.menu li a:hover{
  background-color: var(--blue-bulletin);
  transform: scale(1.02);
}
.menu li{
  text-align: center;
}
.menu-button{
  display: block;
  width: 100%;
  max-width: 377px;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: var(--font-body);
  color: white;
  background-color: var(--news-flash);
  cursor: pointer;
  transition: var(--transition);
}
.menu-button:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  transform: scale(1.02);
}
.tagline{
  font-size: 0.85rem;
  padding-left: 40px;
  padding-bottom: 8px;
  font-style: italic;
  font-weight: 600;
}
/*Global Layout Styles */
main{
  max-width: 1200px;
  box-sizing: border-box;
  padding: 40px;
  margin: 0 auto;
}
#welcome h2{
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: 400;
}
#welcome p{
  line-height: 120%;
  font-size: medium;
}
#welcome blockquote{
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}
#breaking-news h2, .articles, .form-header{
  font-size: 1.4rem;
  font-weight: 400;
}

#breaking-news{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.fed-vid, .voter-vid{
  max-width: 100%;
  display: inline-block;
  margin-top: 0;
}
#federal, #voter{
  display: grid;
  place-items: center;
  border: 1px solid var(--truth-text);
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 10px;
  transition: var(--transition);
}
#federal:hover, #voter:hover{
  transform: scale(1.05);
}
#federal h3, #voter h3{
  font-size: 1.3rem;
  font-weight: 300;
  border-bottom: 1px solid var(--watchdog-white);
  padding: 10px 0px;
  line-height: 120%;
}
#federal p, #voter p{
  font-size: 1rem;
  padding: 5px 0px;
  line-height: 120%;
  font-weight: 300;
}

.articles{
  padding-top: 40px;
  
}
.article-container h3{
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px solid var(--story-subtitle);
  padding-bottom: 7px;
}
.article-container p{
  padding-top: 10px;
  font-weight: 400;
  line-height: 120%;
}
.article-container{
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-template-areas:
  "silence"
  "justice"
  "work"
  "still"
  "climate "
  "fire"
  "food"
  "mental"
  "economy"
  "facing"
  "maze"
  "after";
}
.silence{
  grid-area: silence;
}
.justice{
  grid-area: justice;
}
.work{
  grid-area: work;
}
.still{
  grid-area: still;
}
.climate{
  grid-area: climate;
}
.fire{
  grid-area: fire;
}
.food{
  grid-area: food;
}
.mental{
  grid-area: mental;
}
.economy{
  grid-area: economy;
}
.facing{
  grid-area: facing;
}
.maze{
  grid-area: maze;
}
.after{
  grid-area: after;
}
.article-container div{
  border: 1px solid var(--story-subtitle);
  box-shadow: var(--shadow);
  padding: 20px;
  transition: var(--transition);
}
.article-container div:hover{
  transform: scale(1.06);
}
.form-header{
  padding-bottom: 5px;
}
.empowered-form p{
  padding-bottom: 5px;
}
form{
  border: 1px solid var(--truth-text);
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 20px;
  gap: 16px; 
  font-size: 0.9rem;
  margin: 10px auto;
  display: grid;
  grid-template-areas:
  "name-section"
  "mobile-section"
  "notification-section"
  "subscribe-section";
  font-family: var(--font-body);
  box-shadow: var(--shadow);
  width: 90%;
}
.checkbox-section div{
  display: flex;
  align-items: center;
}
.checkbox-section label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  margin-left: 5px;
  padding: 2px;
}
.checkbox-section input[type="checkbox"]{
  accent-color: var(--blue-bulletin);
  width: 20px;
  height: 20px;
}
.checkbox-section input
.name-group{
  grid-area: name-section;
  margin-bottom: 10px;
}
.name-group input, .phone-group input{
  height: 30px;
  margin-top: 5px;
}
.phone-group{
  grid-area: mobile-section;
}
.checkbox-section{
  grid-area: notification-section;
}
#subscribe{
  grid-area: subscribe-section;
}
#your-name, #phone{
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
form fieldset{
  border: 1px solid var(--blue-bulletin);
  margin-top: 10px;
  padding: 5px;
}
legend{
  text-transform: uppercase;
  font-family: var(--font-body);
}
#subscribe{
  color: var(--watchdog-white);
  background-color: var(--blue-bulletin);
  text-transform: uppercase;
  height: 40px;
  font-family: var(--font-body);
  font-size: 1rem;
  transition: var(--transition);
}
#subscribe:hover{
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  transform: scale(1.01);
}
footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 30px;
}
footer h2{
  font-size: 1.5rem;
  margin: 10px;
  font-weight: 500;
}
footer a{
  text-decoration: none;
  color: var(--watchdog-white);
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 600;
}
.socials li:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}
.socials{
  display: grid;
  grid-template-columns: repeat(5, fit-content(150px));
  grid-gap: 15px;
  margin: 10px;
}
.socials li{
  border: 1px solid var(--news-flash);
  background-color: var(--news-flash);
  padding: 10px;
  font-size: 0.8rem;
  align-self: center;
  text-align: center;
  transition: var(--transition);
}
.copy{
  text-align: center;
  padding-top: 15px;
  font-size: 0.85rem;
}

/*Global Text Styles */
main h2, main h3{
  font-family: var(--font-heading);
}
main p {
  font-family: var(--font-body);
}

/* medium styles 620px */
@media screen and (min-width: 620px){
  #breaking-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  #federal{
    grid-column: 1 / 2;
  }
  #voter{
    grid-column: 2 / 2;
  }
  .article-container{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-areas:
    "silence justice"
    "work still"
    "climate fire"
    "food mental"
    "economy facing"
    "maze after";
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: none;
    gap: 20px;
    width: 90%;
    padding: 30px;
  }
  .top-section {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .name-group, .phone-group {
    flex: 1;
  }
  fieldset.notification {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 10px;
  }
  .checkbox-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    padding: 10px;
  }
  #subscribe {
    grid-column: 1 / -1;
    grid-row: 3;
    width: 100%;
    margin-top: 10px;
  }
  .mobile-nav .menu {
    display: flex;
    position: static;
    background-color: var(--blue-bulletin);
    max-width: 100%;
    gap: 12px; 
    margin-left: 80px;
  }
  .menu li a {
    background-color: var(--news-flash);
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 0.9rem;
    white-space: nowrap;
    font-weight: 600;
    font-family: var(--font-body);
  }
  .menu-button {
    display: none;
  }
}

/* large styles 920px */
@media screen and (min-width: 920px){
  .article-container{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas:
    "silence justice work"
    "still climate fire"
    "food mental economy"
    "facing maze after";
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: none;
    gap: 20px;
    width: 90%;
    padding: 30px;
  }
  .top-section {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .name-group, .phone-group {
    flex: 1;
  }
  fieldset.notification {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 10px;
  }
  .checkbox-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
    padding: 10px;
  }
  #subscribe {
    grid-column: 1 / -1;
    grid-row: 3;
    width: 100%;
    margin-top: 10px;
  }
}
/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px){
  #welcome{
    max-width: 90%;
  }
}
/* Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark){
  :root{
    --watchdog-white: #333;
    --truth-text: #F1FAEE;
  }
}
@media (prefers-reduced-motion: reduce){
  *{
    animation: none !important;
    transition: none !important;
  }
}
/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  .mobile-nav:has(#menu-toggle:checked) .menu{
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
  }
}